{% extends "base.html" %}
{% block title %}git summary{% endblock %}
{% block body %}

<nav id="header" class="bg-white fixed w-full z-10 top-0 shadow">

    <div class="w-full container mx-auto flex flex-wrap items-center mt-0 pt-3 pb-3 md:pb-0">

        <div class="w-1/2 pl-2 md:pl-0">
            <h2 class="text-xl font-bold text-gray-900"><a href="#">Git Summary</a></h2>
            <h3 class="text-gray-500 text-l">{{repo_link | urlize }}</h3>
        </div>

        <div class="w-1/2 pr-0">
            <div class="flex relative inline-block float-right">

                <div class="relative text-sm">
                    <button id="userButton" class="flex items-center focus:outline-none mr-3"></button>
                    <div id="userMenu"
                        class="bg-white rounded shadow-md mt-2 absolute mt-12 top-0 right-0 min-w-full overflow-auto z-30 invisible">
                    </div>
                </div>


                <div class="block lg:hidden pr-4">
                    <button id="nav-toggle"
                        class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-gray-900 hover:border-teal-500 appearance-none focus:outline-none">
                        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <title>Menu</title>
                            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
                        </svg>
                    </button>
                </div>
            </div>

        </div>

        <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 bg-white z-20"
            id="nav-content">
            <ul class="list-reset lg:flex flex-1 items-center px-4 md:px-0">
                <li class="mr-6 my-2 md:my-0">
                    <a href="#news"
                        class="block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-gray-900 border-b-2 border-white hover:border-red-500">
                        <span class="pb-1 md:pb-0 text-sm">News</span>
                    </a>
                </li>
                <li class="mr-6 my-2 md:my-0">
                    <a href="#commits"
                        class="block py-1 md:py-3 px-1 align-middle text-pink-600 no-underline hover:text-gray-900 border-b-2 border-orange-600 hover:border-orange-600">
                        <span class="pb-1 md:pb-0 text-sm">Commits</span>
                    </a>
                </li>
                <li class="mr-6 my-2 md:my-0">
                    <a href="#tags"
                        class="block py-1 md:py-3 px-1 align-middle text-gray-500 no-underline hover:text-gray-900 border-b-2 border-white hover:border-pink-500">
                        <span class="pb-1 md:pb-0 text-sm">Tags</span>
                    </a>
                </li>
                <li class="mr-6 my-2 md:my-0">
                    <a href="#authors"
                        class="block py-1 md:py-3 px-1 align-middle text-gray-500 no-underline hover:text-gray-900 border-b-2 border-white hover:border-purple-500">
                        <span class="pb-1 md:pb-0 text-sm">Authors</span>
                    </a>
                </li>
                <li class="mr-6 my-2 md:my-0">
                    <a href="#files"
                        class="block py-1 md:py-3 px-1 align-middle text-gray-500 no-underline hover:text-gray-900 border-b-2 border-white hover:border-green-500">
                        </i><span class="pb-1 md:pb-0 text-sm">Files</span>
                    </a>
                </li>
                
            </ul>

        </div>

    </div>
</nav>

<!--Container-->
<div class="container w-full mx-auto pt-40">

    <div class="w-full mb-16 text-gray-800 leading-normal">

        <div class="flex flex-row flex-wrap flex-grow mt-2">
            <div><h2>Possible Chaneglog/News Files</h2></div>

            {% for file in news_matches %}
            <ul class="container"">
                <li><a href="https://{{repo_link}}/blob/master/{{ file }}">{{ file }}</a></li>
            </ul>
            {% endfor %}
        </div>  

        {% include 'border.html' %}

        <div class="flex flex-wrap">
            <div class="w-full md:w-1/2 xl:w-1/3 p-3">
                
                <div class="bg-white border rounded shadow p-2">
                    <div class="flex flex-row items-center">
                        <div class="flex-shrink pr-4">
                            <div class="rounded p-3 bg-green-600"><i class="fa fa-wallet fa-2x fa-fw fa-inverse"></i>
                            </div>
                        </div>
                        <div class="flex-1 text-right md:text-center">
                            <h5 class="font-bold uppercase text-gray-500">Total Commits</h5>
                            <h3 class="font-bold text-3xl">{{commit_count }}<span class="text-green-500"><i
                                        class="fas fa-caret-up"></i></span></h3>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="w-full md:w-1/2 xl:w-1/3 p-3">
                
                <div class="bg-white border rounded shadow p-2">
                    <div class="flex flex-row items-center">
                        <div class="flex-shrink pr-4">
                            <div class="rounded p-3 bg-pink-600"><i class="fas fa-users fa-2x fa-fw fa-inverse"></i>
                            </div>
                        </div>
                        <div class="flex-1 text-right md:text-center">
                            <h5 class="font-bold uppercase text-gray-500">Total Tags</h5>
                            <h3 class="font-bold text-3xl">{{ tags | length }}<span class="text-pink-500"><i
                                        class="fas fa-exchange-alt"></i></span></h3>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="w-full md:w-1/2 xl:w-1/3 p-3">
                
                <div class="bg-white border rounded shadow p-2">
                    <div class="flex flex-row items-center">
                        <div class="flex-shrink pr-4">
                            <div class="rounded p-3 bg-yellow-600"><i
                                    class="fas fa-user-plus fa-2x fa-fw fa-inverse"></i></div>
                        </div>
                        <div class="flex-1 text-right md:text-center">
                            <h5 class="font-bold uppercase text-gray-500">Total Files</h5>
                            <h3 class="font-bold text-3xl">{{ all_files | length}}<span class="text-yellow-600"><i
                                        class="fas fa-caret-up"></i></span></h3>
                        </div>
                    </div>
                </div>
                <!--/Metric Card-->
            </div>
        </div>

        {% include 'border.html' %}

        <div class="flex flex-row flex-wrap flex-grow mt-2">

            <div class="w-full md:w-1/2 p-3">
                <!--Graph Card-->
                <div class="bg-white border rounded shadow">
                    <div class="border-b p-3">
                        <h5 class="font-bold uppercase text-gray-600">Commits Per Year</h5>
                    </div>
                    <div class="p-5">
                        <canvas id="chartjs-0" class="chartjs" width="undefined" height="undefined"></canvas>
                        <script>
                            new Chart(document.getElementById("chartjs-0"), {
                                "type": "bar",
                                "data": {
                                    "labels": [{{ commit_year_counts | map(attribute=0)| join(', ')  }}],
                                "datasets": [{
                                    "label": "Commits",
                                    "data": [{{ commit_year_counts | map(attribute=1)|join(', ')  }}],


                            "lineTension": 0.1
                                }]
                            },
                            "options": {}
                        });
                        </script>
                    </div>
                </div>
                <!--/Graph Card-->
            </div>


            <div class="w-full md:w-1/2 xl:w-1/3 p-3">
                <!--Graph Card-->
                <div class="bg-white border rounded shadow">
                    <div class="border-b p-3">
                        <h5 class="font-bold uppercase text-gray-600">File Extension distribution</h5>
                    </div>
                    <div class="p-5"><canvas id="chartjs-4" class="chartjs" width="undefined"
                            height="undefined"></canvas>
                        <script>
                            new Chart(document.getElementById("chartjs-4"), {
                                "type": "doughnut",
                                "data": {
                                    "labels": [{% for k, v in(file_types|items | sort(reverse = true, attribute = "1"))[:10] %} {{ k | tojson }} {% if not loop.last %}, {% endif %} {% endfor %}],
                            "datasets": [{
                                "label": "Files",
                                "data": [{% for k, v in(file_types|items | sort(reverse = true, attribute = "1"))[:10] %}{{ v }}{% if not loop.last %}, {% endif %} {% endfor %}],
                            "backgroundColor": ["rgb(255, 99, 132)", "rgb(54, 162, 235)", "rgb(255, 205, 86)"]
                                }]
                            }
                        });
                        </script>
                    </div>
                </div>
                <!--/Graph Card-->
            </div>



            <div class="w-full md:w-1/2  p-3">
                <!--Graph Card-->
                <div class="bg-white border rounded shadow">
                    <div class="border-b p-3">
                        <h5 class="font-bold uppercase text-gray-600">Files</h5>
                    </div>
                    <div class="p-5"><canvas id="chartjs-10" class="chartjs" width="undefined"
                            height="undefined"></canvas>
                        <script>
                            new Chart(document.getElementById("chartjs-10"), {
                                "type": "polarArea",
                                "data": {
                                    "labels": [{% for k,v in (counts|items | sort(reverse = true, attribute = "1"))[1:15] %} {{ k | tojson }} {% if not loop.last %}, {% endif %} {% endfor %}],
                            "datasets": [{
                                "label": "Files",
                                "data": [{% for k,v in (counts|items | sort(reverse = true, attribute = "1"))[1:15] %}{{ v[0]}}{% if not loop.last %}, {% endif %} {% endfor %}],
                            "backgroundColor": ["rgb(255, 99, 132)", "rgb(54, 162, 235)", "rgb(255, 205, 86)"]
                                }]
                            }
                        });
                        </script>
                    </div>
                </div>
                <!--/Graph Card-->
            </div>

 

            <div id="tags" class="w-full p-3">
                <!--Table Card-->
                <div class="bg-white border rounded shadow">
                    <div class="border-b p-3">
                        <h5 class="font-bold uppercase text-gray-600">Tags ({{tags | length}})</h5>
                    </div>
                    <div class="p-5">
                        <table class="w-full p-5 text-gray-700">
                            <thead>
                                <tr>
                                    <th class="text-left text-blue-900">Name</th>
                                    <th class="text-left text-blue-900">Side</th>
                                   
                                </tr>
                            </thead>

                            <tbody>

                                {% for key, value in tags | dictsort(reverse=true, by="value") %}
                                <tr>
                                    <td>{{ key }}</td>
                                    <td> {{value| format_date}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
                <!--/table Card-->
            </div>

            <div id="authors" class="w-full p-3">
                <!--Table Card-->
                <div class="bg-white border rounded shadow">
                    <div class="border-b p-3">
                        <h5 class="font-bold uppercase text-gray-600">Git Authors ({{ git_authors | length }})</h5>
                    </div>
                    <div class="p-5">
                        <table class="w-full p-5 text-gray-700">
                            <thead>
                                <tr>
                                    <th class="text-left text-blue-900">Commit Count</th>
                                    <th class="text-left text-blue-900">Name</th>
                                </tr>
                            </thead>

                            <tbody>

                                {% for k,v in git_authors %}
                                <tr>
                                    <td>{{ k }}</td>
                                    <td>{{ v }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
                <!--/table Card-->
            </div>

            <div id="files" class="w-full p-3">
                <!--Table Card-->
                <div class="bg-white border rounded shadow">
                    <div class="border-b p-3">
                        <h5 class="font-bold uppercase text-gray-600">File Ext Counts</h5>
                    </div>
                    <div class="p-5">
                        <table class="w-full p-5 text-gray-700">
                            <thead>
                                <tr>
                                    <th class="text-left text-blue-900">Name</th>
                                    <th class="text-left text-blue-900">Side</th>
                                    <th class="text-left text-blue-900">Role</th>
                                </tr>
                            </thead>

                            <tbody>

                                {% for key, value in counts|items %}
                                <tr>
                                    <td>{{ key }}</td>
                                    <td>{{value[0] }}</td>
                                    <td>{{value[1] }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
                <!--/table Card-->
            </div>


        </div>

        <!--/ Console Content-->

    </div>


</div>
<!--/container-->


<script>
    /*Toggle dropdown list*/
    /*https://gist.github.com/slavapas/593e8e50cf4cc16ac972afcbad4f70c8*/


    var userMenuDiv = document.getElementById("userMenu");
    var userMenu = document.getElementById("userButton");

    var navMenuDiv = document.getElementById("nav-content");
    var navMenu = document.getElementById("nav-toggle");

    document.onclick = check;

    function check(e) {
        var target = (e && e.target) || (event && event.srcElement);

        //User Menu
        if (!checkParent(target, userMenuDiv)) {
            // click NOT on the menu
            if (checkParent(target, userMenu)) {
                // click on the link
                if (userMenuDiv.classList.contains("invisible")) {
                    userMenuDiv.classList.remove("invisible");
                } else { userMenuDiv.classList.add("invisible"); }
            } else {
                // click both outside link and outside menu, hide menu
                userMenuDiv.classList.add("invisible");
            }
        }

        //Nav Menu
        if (!checkParent(target, navMenuDiv)) {
            // click NOT on the menu
            if (checkParent(target, navMenu)) {
                // click on the link
                if (navMenuDiv.classList.contains("hidden")) {
                    navMenuDiv.classList.remove("hidden");
                } else { navMenuDiv.classList.add("hidden"); }
            } else {
                // click both outside link and outside menu, hide menu
                navMenuDiv.classList.add("hidden");
            }
        }

    }

    function checkParent(t, elm) {
        while (t.parentNode) {
            if (t == elm) { return true; }
            t = t.parentNode;
        }
        return false;
    }
</script>

{% endblock %}